.grid-container {
  display: grid;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-element:hover {
  background-color: red;
  opacity: 0.5;
}

.grid-element {
  background-color: darkslategrey;
  padding: 20px;
  color: #fff;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: capitalize;
}


body {
  padding: 2em;
}

hr {
  margin: 80px;
}

.navbar-brand {
  margin-right: auto;
  text-align: left;
}